.write{
    padding-top: 40px;
    padding-left: 30px;
    background-color:whitesmoke;
    .w-img{
        height: 250px;
        width: 70vw;
        margin-left: 150px;
        border-radius: 10px;
        object-fit: cover;
        margin-bottom: 8px;
    }
    .w-form{
        position: relative;
        .form-group{
            margin-left: 140px;
            label{
                display: flex;
                align-items: center;
                gap: 15px;
                padding: 20px;
                .MuiSvgIcon-root {
                    font-size: 28px;
                    color: gray;
                    cursor: pointer;
                }
                span{
                    font-size: 20px;
                    color: gray;
                    cursor: pointer;
                }
            }
            .w-input{
                font-size: 30px;
                border: none;
                width: 70vw;
                margin-bottom: 5px;
                padding: 20px;
                color: gray;
                font-weight: 400;
                border-bottom: 1px solid lightgrey;
                &:focus{
                    outline: none;
                }
            }
            .w-text{
                font-size: 20px;
            }
            .w-input-select{
                font-size: 18px;
                border: none;
                width: 70vw;
                margin-bottom: 5px;
                padding: 15px;
                color: gray;
                font-weight: 400;
                border-bottom: 1px solid lightgrey;
            }
        }
        .w-submit{
            position: absolute;
            top: 20px;
            right: 50px;
            color: whitesmoke;
            background-color: teal;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 15px;
            letter-spacing: .6px;
        }
    }
 
}
.bottom-write{
    margin-top: 100px;
}